APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:P6AMrb30dks4lLeG1KXtWvqQzOJ145e4mkUbZZoYfIE=
APP_DEBUG=false
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=masterfile
DB_USERNAME=root
DB_PASSWORD=12345678


DB_CONNECTION_BOLSA=bolsa
DB_HOST_BOLSA=127.0.0.1
DB_PORT_BOLSA=3306
DB_DATABASE_BOLSA=dbprod
DB_USERNAME_BOLSA=root
DB_PASSWORD_BOLSA=12345678

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=database

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587 
MAIL_USERNAME=cromerocalderon2023@gmail.com
MAIL_PASSWORD=ivlgrvmftsujnavy
MAIL_ENCRYPTION=tls

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


APP_ID_USER_TYPE=200;
SAT_WS_WSDL_DEV = https://farm2.sat.gob.gt/sat/rtu_siaf/contribuyente/serviciosWeb/ConsultaSiaf?WSDL
USER_SAT = SIAF_SAG
PWD_SAT = SECRETO1
URL_SISTEMA = https://qapex.mintrabajo.gob.gt/certificaciones?qr=